* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  background-image: url(../imagens/login-imagem.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 900;
}

nav a:hover {
  opacity: 0.7;
}

.logo {
  margin-top: 10px;
  margin-left: 5%;
  height: 7em;
  width: 10em;
}

nav {
  position: fixed;
  margin-top: 0px !important;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background: #141414;
  height: 10vh;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid rgb(67, 66, 66);
}

.nav-list {
  margin-left: 10%;
  list-style: none;
  display: flex;
}

.login-cadastro {
  display: flex;
  margin-left: 150px;
}

.cadastro {
  text-align: center;
  border: 1px solid rgba(0, 254, 160, 1);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 80px;
  margin-left: 10px;
}

@media (max-width: 1920px) {
  .nav-list {
    margin-left: 20%;
    list-style: none;
    display: flex;
  }
}
@media (max-width: 1440px) {
  .nav-list {
    margin-left: 12%;
    list-style: none;
    display: flex;
  }
}
@media (max-width: 1024px) {
  .nav-list {
    margin-left: 13%;
    list-style: none;
    display: flex;
  }
}

.nav-list li {
  margin-top: 5px;
  margin-left: 50px;
  color: #dddbd8;
}

.mobile-menu {
  margin-left: 60%;
  margin-right: 5%;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-menu {
    margin-left: 60%;
    margin-right: 5%;
    display: none;
    cursor: pointer;
  }
}
@media (max-width: 425px) {
  .mobile-menu {
    margin-left: 40%;
    margin-right: 5%;
    display: none;
    cursor: pointer;
  }
}
@media (max-width: 320px) {
  .mobile-menu {
    margin-left: 30%;
    margin-right: 5%;
    display: none;
    cursor: pointer;
  }
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    backdrop-filter: blur(15px);
    z-index: 3;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100%;
    height: 101vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.alinhamento{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin-left: 50%;
  align-items: center;
  justify-content: center;
  
}

.margin{
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 10%;
}

.logo-form{
  background-image: url(../imagens/letreiro-projeto.png);
  height: 50px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.entrar{
  margin-top: 13px;
  width: 100%;
  height: 50px;
  background-color: #141414;
  color:white;
  border-radius: 10px;
  border: none;
  transition: .3s;
  font-size: 1rem;
}

.entrar:hover{
  background-color:rgba(0, 254, 160, 1);
  color: #000;
}

.registro{
  width: 100%;
  height: 50px;
  border: solid 2px #141414;
  border-radius: 10px;
  padding: 15px;
  outline: none;
  transition: .3s;
}

.inputbox{
  position: relative;
  width: 100%;
}

.inputbox:not(:nth-child(1)){
  margin-top: 2%;
}

.inputbox span{
  position: absolute;
  left: 0;
  padding: 13px;
  pointer-events: none;
}

.registro:valid ~ span,
.registro:focus ~ span{
  transform: translateX(10px) translateY(-7px);
  font-size: 0.8em;
  padding: 0 10px;
  background: #fff;
  transition: .3s;
}

.texto-comum{
  text-decoration: none;
  color: #000;
}

.redefinir-login{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.direcao-login{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  transition: .3s;
}

.direcao-login:hover :not(a){
  color:rgba(0, 254, 160, 1);
  transition: .3s;
}

.direcao-login span{
  font-weight: bold;
}

@media (max-width: 1280px) and (min-width: 1024px){
  h1{
    font-size: 24px;
  }

  p{
    font-size: 11px !important;
  }

  .logo-form{
    background-image: url(../imagens/letreiro-projeto.png);
    height: 30px;
    width:130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
}